/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define TIMEOUT 50

/ {
    combos {
        compatible = "zmk,combos";
        combo_0 {
            timeout-ms = <50>;
            key-positions = <1 2 3>;
            bindings = <&bt BT_CLR>;
        };
        combo_1 {
            timeout-ms = <50>;
            key-positions = <5 6>;
            bindings = <&bt BT_SEL 0>;
        };
        combo_2 {
            timeout-ms = <50>;
            key-positions = <10 11 12>;
            bindings = <&bootloader>;
        };
        combo_3 {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&sys_reset>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC     &kp N1      &kp N2      &kp N3      &kp N4      &kp N5 
                &kp TAB     &kp Q       &kp W       &kp F       &kp P       &kp G  
                &kp LSHFT   &kp A       &kp R       &kp S       &kp T       &kp D       &none 
                &kp LCTRL   &kp Z       &kp X       &kp C       &kp V       &kp B       &kp C_MUTE 
                                                    &kp AT      &kp LGUI    &kp LALT    &kp SPACE
            >;
        };
    };
};