/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#define DEFAULT 0

/ {
    keymap {
        compatible = "zmk,keymap";
 
        default_layer {
            bindings = <
                &to 1       &kp N1
                &kp A       &bt BT_SEL 1
                &sys_reset  &bt BT_CLR
            >;
        };

        first_layer {
            bindings = <
                &to 2       &kp N2
                &kp B       &bt BT_SEL 2
                &sys_reset  &bt BT_CLR
            >;
        };

        secnd_layer {
            bindings = <
                &to 3       &kp N3
                &kp C       &bt BT_SEL 3
                &sys_reset  &bt BT_CLR
            >;
        };

        third_layer {
            bindings = <
                &to 4       &kp N4
                &kp D       &bt BT_SEL 4
                &sys_reset  &bt BT_CLR
            >;
        };

        last_layer {
            bindings = <
                &to 0       &kp N5
                &kp E       &bt BT_SEL 5
                &sys_reset  &bt BT_CLR
            >;
        };
    };
};