# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_SUZAKU58_LEFT
    def_bool $(shields_list_contains,Suzaku58_left)

config SHIELD_SUZAKU58_RIGHT
    def_bool $(shields_list_contains,Suzaku58_right)
